<!DOCYTYPE html>
<HTML>
<HEAD>
<TITLE> HOME </TITLE>
 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
 <link rel="stylesheet" href="stylesheets/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="javascripts/new_controller.js"></script>

</HEAD>
<BODY>
<nav class="navbar navbar-default">
  <div class="container" ng-app="myApp">
  	<div class="navbar-header">
  	
      <a href="#" class="navbar-brand">Ask Me</a>
      	</div>
      	<div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" data-toggle="modal" data-target="#myModal">Login</a></li>
          <!-- Modal -->
            <div class="modal fade" id="myModal" role="dialog">
              <div class="modal-dialog">
              <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Login</h4>
                    </div>
                  <div class="modal-body">
                    <!-- Sign in -->

                        <form ng-controller="SigninCtrl" class="form-horizontal" role="form" method="post" name="signinForm" action="http://localhost:3000/user/signin" novalidate>
                    <div class="form-group">
                      <label class="control-label col-sm-4" for="email">Email :</label>
                       <div class="col-sm-8">
                      <input class="form-control" type="email" placeholder="Enter email" id="email" name="email" ng-model="email"  required>

                      <span style="color:red" ng-show="signinForm.email.$error.required">Email is required.</span>
                      <span style="color:red" ng-show="signinForm.email.$dirty && signinForm.email.$invalid">Invalid email </span>
                    </div>
                    </div>
                    <div class="form-group">
                      <label class=" control-label col-sm-4" for="password">Password :</label>
                        <div class="col-sm-8">
                      <input class="form-control" type="password" id="password" name="password" placeholder="Enter Password" ng-model="password" required>
                      <span style="color:red" ng-show="signinForm.password.$error.required">Password is required.</span>
                      <div ng-if="password.length <= 8 " ng-init="flag:true">
                      <span style="color:red" >password must be greater than 8 characters</span>
                      </div> 
                    </div>
                     </div>
                    
                     <div class="form-group">        
                      <div class="col-sm-offset-2 col-sm-10">
                          <div class="checkbox">
                      <label><input type="checkbox"> Remember me</label>
                      </div>
                      </div>
                      </div>
                        <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                          
                            <button type="submit" class="btn btn-primary" ng-disabled="signinForm.password.$error.required || signinForm.email.$error.required || signinForm.email.$dirty && signinForm.email.$invalid">Submit</button>  <button type="submit" class="btn btn-warning">
                            Forgot   Password</button>

                          </div>
                          <span>{{message}}</span>
                      </div>
                    
                    </form>



                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
      </div>
      </div>
      </div>


        <li><a href="#" data-toggle="modal" data-target="#signUp">SignUp</a></li>
        
      <div class="modal fade" id="signUp" role="dialog">

        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dissmiss="modal">&times;</button>
              <h4 class="modal-title">SignUp</h4>
              </div>
            <div class="modal-body">


                    <!-- form -->

                    <form  ng-controller="SignupCtrl" class="form-horizontal"  role="form" method="post" name="SignupForm" action="http://localhost:3000/user/signup" novalidate>
                    <div class="form-group">
                      <label class="control-label col-sm-4" for="email">Email :</label>
                       <div class="col-sm-8">
                      <input class="form-control" type="email" placeholder="Enter email" id="email" name="email" ng-model="email" required>
                      <span style="color:red" ng-show="SignupForm.email.$error.required">Email is required.</span>
                      <span style="color:red" ng-show="SignupForm.email.$dirty && SignupForm.email.$invalid">Invalid email </span>
                    </div>
                    </div>
                    <div class="form-group">
                      <label class=" control-label col-sm-4" for="password">Password :</label>
                        <div class="col-sm-8">
                      <input class="form-control" type="password" id="password" placeholder="Enter Password" name="password" ng-model="password" required>
                      <span style="color:red" ng-show="SignupForm.password.$error.required">Password is required.</span>
                    </div>
                    </div>
                     
                    <div class="form-group">
                      <label class="control-label col-sm-4" for="re-password">Re-Password :</label>
                        <div class="col-sm-8">
                      <input class="form-control" type="password" id="re_password" placeholder="Re-Enter Password" ng-model="re_password"  name="re_password" required>
                      <div ng-if="re_password != password" ng-init="flag=1">
                      <span style="color:red" >Re-Password does not match</span>
                      </div>
                      <span style="color:red" ng-show="SignupForm.re_password.$error.required">Re-Password is required.</span>
                    </div>
                    </div>
                    
                     <div class="form-group">        
                      <div class="col-sm-offset-2 col-sm-10">
                          <div class="checkbox">
                      <label><input type="checkbox"> Remember me</label>
                      </div>
                      </div>
                      </div>
                        <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                          
                            <button type="submit" class="btn btn-primary" ng-disabled="SignupForm.re_password.$error.required || SignupForm.password.$error.required" || SignupForm.email.$error.required  || (SignupForm.email.$dirty && SignupForm.email.$invalid) ">Submit</button>  <button type="submit" class="btn btn-warning">Forgot   Password</button>
                          </div>
                      </div>
                    
                    </form>

                  </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>   
            </div>
          </div>
        </div>




      
        
        
      </ul>
    </div>
  </div>
</nav>


<div class="container-fluid bg-1 text-center">
<h3> Welcome to test website </h3>
<img src="images/manu_img.jpg" alt="Manu" class="img-circle">
  <h3>More details</h3>
</div>
<div class="container-fluid bg-2 text-center">
  <h3>What Am I?</h3>
  <p>I m a classic man .. no man can be a classic man if he is a no man ....... "I am always doing that which I cannot do, in order that I may learn how to do it."</p>
</div>
<div class="container-fluid bg-3 text-center">
  <h3>Where To Find Me?</h3>
  <p>I live on the seventh heaven of the sky which is niether blue nor black its a sky of no starts but yet it glitters of gold, so catch me there ........</p>

  <a href="#" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-search"></span>  &nbsp; &nbsp; Find me </a>
</div> 
<div class="container-fluid bg-3 text-center">
  <h3>Where To Find Me?</h3>
  <div class = "row">
  	<div class="col-sm-4">
  	<p>
  			Look for me into the sky when the night is high and air is dry as i may catch upon u even when the moon is shy and i may lure upon you the happiness you find only when you are high .....


  	</p>
  	<img src = "images/manu_3.jpg" alt="Manu"  >


  	</div>
  	<div class="col-sm-4">
  	<p>
  			Look for me into the sky when the night is high and air is dry as i may catch upon u even when the moon is shy and i may lure upon you the happiness you find only when you are high .....


  	</p>
  	<img src = "images/manu_2.jpg" alt="Manu"  >

  	</div
  	<div class="col-sm-4">
  	<p>
  			Look for me into the sky when the night is high and air is dry as i may catch upon u even when the moon is shy and i may lure upon you the happiness you find only when you are high .....


  	</p>
  	<img src = "images/manu_3.jpg" alt="Manu" >
  	</div>

  </div>
  <footer class="container-fluid bg-4 text-center">
  <p>Bootstrap Theme Made By <a href="#">www.messc.com</a></p>
</footer>



</BODY>
</HTML>