<!DOCTYPE html>
<HTML>

<HEAD>

	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  <title>Contact List App</title>

	
</HEAD>


<BODY ng-app='myApp'>

<div class="container" ng-controller="AppCtrl">
	<h1>First app</h1>
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Phone</th>
				<th>Action</th>



			</tr>


		</thead>
		<tbody>
			<tr>
				<td><input class="form-control" ng-model="contact.name"/></td>
				<td><input class="form-control" ng-model="contact.email"/></td>
				<td><input class="form-control" ng-model="contact.phone"/></td>
				<td><button class="btn btn-info" ng-click="adduser()"/>Add </button></td>
 
			</tr>
			<tr ng-repeat="contact in contactlist">
				 <td>{{contact.name}}</td>
          		<td>{{contact.email}}</td>
          		<td>{{contact.phone}}</td>
          		<td><button class="btn btn-danger" ng-click="deleteuser(contact.email)"/>Delete</button></td>
			</tr>
		</tbody>	
	




	</table>


</div>	

<script>
	var myApp = angular.module('myApp',[]);
myApp.controller('AppCtrl',function($scope,$http)
{
		console.log("Hello World from controller");
		var refresh = function(){
				$http.get('/api/users').success(function(response)
						{

							$scope.contactlist=response;
							$scope.contact="";




						}


					);




		};

	refresh();

$scope.adduser = function(){

	$http.post('/api/users',$scope.contact).success(function(response)
						{

							console.log(response);
							refresh();

						}


					);



};

$scope.deleteuser = function(email){

	console.log("Hello "+ $scope.contact);
	$http.delete('/api/users/:'+ email).success(function(response)
						{

							console.log(response);
							refresh();

						}


					);



};


}
);


</script>


</BODY>



</HTML>
