<!DOCYTYPE html>
<HTML>
<HEAD>
<TITLE> HOME </TITLE>
 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
 <link rel="stylesheet" href="stylesheets/style_home.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="javascripts/ques_controller.js"></script>

</HEAD>
<BODY ng-app='quesApp' ng-controller="quesController" ng-init="refresh(0)">


<nav class="navbar navbar-default navbar-fixed-top">
<div class="container">
<div class="navbar-header">

      <a class="navbar-brand" href="http://localhost:3000/home">Logo</a>
    </div>
	
<div class="collapse navbar-collapse" id="myNavbar">

<form class="navbar-form navbar-left">
                        <div class="input-group input-group-sm" style="max-width:300px;">
                          <input  type="text" class="form-control" placeholder="Search Topics" name="srch-term" id="srch-term" list="topics">
                          <datalist id="topics">
                          <option  data-ng-repeat="top in topics" value="{{top}}">
                          </datalist>
                          <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search search"></i></button>
                          </div>
                        </div>
                    </form>

<ul class="nav navbar-nav main_nav">
        <li><a href="#"><i class="glyphicon glyphicon-home"></i> Home</a></li>
        <li><a href="#postModal" role="button" data-toggle="modal"><i class="glyphicon glyphicon-plus"></i> Post</a></li>
        <li><a href="http://localhost:3000/ques/question/logout" ><i class="glyphicon glyphicon-logout"></i>Logout</a></li>
        <li><a href="#">Help</a></li>
      </ul>

 <ul class="nav navbar-nav navbar-right">
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user">Account</i></a>
                        <ul class="dropdown-menu menu">
                          <li><a href="">Settings</a></li>
                          <li><a href="">Help</a></li>
                          <li><a href="">Logout</a></li>
                          
                        </ul>
                      </li>
                    </ul>     

</div>
</div>
</nav>


<div class="container-fluid" >
  <div class="row">
    <div class="col-sm-2 left_col">
   
    <div class="list">
      <ul class="list-group hidden-xs list_new">
      <li class="list-group-item " ng-click="refresh(1)">All Questions<span class="badge">{{queslist.length}}</span></li>
      <li class="list-group-item" ng-click="refresh(2)">My Questions<span class="badge">12</span></li>
      <li class="list-group-item" ng-click="refresh(3)">My Answers<span class="badge">12</span></li>
      </ul>

    </div>


    </div>
    <div  class="col-sm-10" >

      
    <table class="table borderless">
    
      <tr >
      <td>
        <div class="well">
         <form class="form-horizontal form_ques" role="form" method="post" name="signinForm" action="http://localhost:3000/ques/question" novalidate>
              <div class="form-group" style="padding:14px;">
              <input class="form-control" type="hidden" name="ques_by" value="<%= user %>"/>
              <textarea class="form-control" placeholder="Ask Anything" rows="5" cols="50" name="body"></textarea>
              </div>
              
              <button type="submit" class="btn btn-danger pull-right">Ask</button>
              <ul class="list-inline"><li><a href=""><i class="glyphicon glyphicon-upload"></i></a></li><li><a href=""><i class="glyphicon glyphicon-camera"></i></a></li><li><a href=""><i class="glyphicon glyphicon-map-marker"></i></a></li></ul>
    
            </form>
        </div>    
        </td>
      </tr>
      <tr  ng-repeat="ques in queslist" class="ques_main">
              
              <td >

              <div class="well">
              
              <p class="lead">
              {{ques.body}}
              </p>
             
              
              <div class="row ques_comment">
              <div class="col-sm-4">
              {{ques.ques_by}}
              </div>
              <div class="col-sm-4">
                 {{ques.comments}}
              </div>
              <div class="col-sm-4">
              {{ques.time}}
              </div>
              <div>
              <br/><br/>
              <div>
              <button id="{{$index}}" class="btn btn-primary" data-toggle="collapse" data-target="#comment{{$index}}">View Answers <span class="badge">{{ques.comment.length}}</span> &nbsp; <span class="caret"></span></button>

              </div>
              <div id="comment{{$index}}" class="collapse" ng-init="showcomment(ques._id)">
              
                
                <table class="table borderless"  >

                    <tr ng-repeat="comment in ques.comment"    class ="comment">
                    
                        <td>
                        <div class="panel panel-default">
                        <div class="panel-body">

                            <div id="comment_text" >
                              <p class="lead" >
                                {{comment.answer}}
                               </p> 
                                                            
                            </div>
                            <div class="row ques_comment">
                            <div class="col-sm-4">
                              {{comment.ans_by}}
                            </div>
                            <div class="col-sm-4">
                              {{comment.created_at}}
                            </div>
                            <div class="col-sm-4">
                               <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Edit
                                  <span class="caret"></span></button>
                                  <ul class="dropdown-menu">
                                  <li ><a href="" ng-click="deleteComment(comment._id)"><span class="glyphicon glyphicon-trash">&nbsp;Delete</span></a></li>
                                  <li ><a href="" ng-click="form_init(comment.answer)"><span class="glyphicon glyphicon-wrench">&nbsp;Edit</span></a></li>
                                  
                                  
                                  </ul>
                            </div>
                            </div>
                            
 
 </div>
 </div>
 </td>             
</tr>
</table>

</div>

               <div>
                      <p>{{edit}}</p>
                      <p>{{comm}}</p>
                     <form class="form_ques" method="post" name="commentForm" action="http://localhost:3000/ques/question/comment"  novalidate>
                      <textarea ng-if="edit==1" ng-show="false" class="textarea" placeholder="Answer" rows="3" cols="100" name="answer"></textarea></br>
                      <textarea ng-if="edit!=1" ng-show="true" class="textarea" value={{comm}} rows="3" cols="100" name="answer"></textarea></br>
                        <input type="hidden" name="ans_by" value="<%= user %>"/>
                        <input type="hidden" name="doc_id" value="{{ques._id}}"/>
                        <button type="submit" class="btn btn-danger btn_ques">Answer</button>
    
            </form>
              </div>
               </div>
            
              </td>
              
      </tr>
     
  




  </table>
 
    </div>

  </div>
</div>

 <footer class="container-fluid bg-4 text-center">
  <p>Bootstrap Theme Made By <a href="#">www.messc.com</a></p>
</footer>
</body>
</html>