body {
  
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.container-fluid{

padding-top: 70px;
    padding-bottom: 70px;


}

.navbar {
	padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
    background-color: #f4511e;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.main_nav li a, .navbar .navbar-brand {
    color: #fff !important;
}

.main_nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}
.navbar-right li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-right li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
}

.menu{

color: #0000ff !important;
background-color: #ff0000;


}
.menu:hover{

    color:#fff!important;
    background-color:  #f4511e  !important;

}
.search{

    color:#f4511e;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.form_ques{
	float: center;
	color:#000000;
    margin-top: 20px;
	


}
.btn_ques{
	margin-top: 10px;
}
.jumbotron {
	margin-top: 70px;
    background-color: #f4511e; /* Orange */
    color: #ffffff;
}
.ques_main{
		margin: 20px;
		padding: 5px auto;
		


}
.ques_comment{
        margin-top: 20px;
        padding: 5px auto;
        font-size: 12px;
        
       


}
#ques_text{
		margin-top: 10px ;
		padding: 5px auto;


}
.left_col{

        margin-top: 30px ;
        
        margin-bottom: 30px ;

}

.list_new li:hover{

     background-color:#393939;

}
.badge{

    background-color: #ff0080;

}
.img-rounded{

    border:1px solid #0000ff;
}
.list{

    margin: 5px auto;

}
.menu{

color:#0000ff;

}
.table .borderless td,.table .borderless tr{

border: 0;

}
